<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fórmulas de tratamiento</key>
	<dict>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Ud. debe contestar las preguntas.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>El sr. Raul tiene derecho de señalar a cuatro personas.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>Avanzado</key>
		<dict/>
	</dict>
	<key>Marcas</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Después del curso que tomé de google, aprendí a realizar búsquedas avanzadas.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>Las empresas como Facebook son responsables de cuidar la información de sus usuarios</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>Mi chamarra nike la venden en todos lados.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Nombres propios</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>54</integer>
						<integer>9</integer>
					</array>
					<key>ejercicio</key>
					<string>Me llamo moisés y estoy armando una casa con mi amigo armando.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Moisés cuenta con doce investigaciones en el área médica.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La hermana de Alicia tiene clases conmigo</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>El reporte de luis tiene por lo menos ocho fuentes bibliográficas.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Fechas y estaciones</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Todos los días de Verano llega a subir la temperatura a los 30 grados.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>Estamos en otoño pero se siente como si fuera invierno.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>El invierno es la mejor estación del año para estar en casa.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Gentilicios</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Mi amiga Chilena viene a México cada año.
</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>En mi viaje a Cancún conocí a varios yucatecos.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>El Aleman sabe comunicarse con los latinos a pesar de que no domina el español</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Nombres comunes</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Voy a tomar el Sol durante verano</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La manzana tiene propiedades que ayudan a la salud</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Usos diacríticos</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>El Banco Central de españa no ofrece servicio a partir de las 11:00 PM</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>El estado Mexicano tiene un plan para impulsar el turismo</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La Virgen de Guadalupe es una imagen muy respetada.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Nombres científicos</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Ni el hombre de las cavernas ni el primer homo sapiens agricultor conocían el sistema financiero o monetario
</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>El nombre científico de la sardina peruana es Sardinops sagax sagax</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>Hemos recibido un pedido de 500 ejemplares de Laurus nobilis.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Símbolos químicos</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>El NH3 se utiliza para fabricar desinfectantes ya que eliminan a las bacterias. </string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>El agua está conformado por hidrógeno y es representado por el símbolo H en la tabla periódica</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>Los extinguidores de incendio utilizan el compuesto CCl4</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Unidades de medición</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Un kilogramo de fuerza equivale a 9.8 N
</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La unidad de almacenamiento es de 1TB pero también utilizo un disco externo de 500gb.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La presión se mide en pascales y es representado como “J”</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Grados académicos</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Mañana tengo una cita con el dr. Andres</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>Ayer se reportó conmigo el Ing. Alfredo para apoyarme en la investigación.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La Lic. Andrea es reconocida por su excelente trabajo.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Nombres de disciplinas científicas y materias escolares</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Mis padre estudió ingeniería en sistemas</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La biología es una disciplina muy compleja.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La persona que estudia Medicina tiene que estar muy preparada para realizar una especialidad</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Abreviaturas, siglas y acrónimos</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>La SEP tiene como objetivo mejorar la educación</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La onu tiene un plan de 15 años para mejorar al planeta.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La FIFA organiza múltiples torneos de fútbol por año.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Nombres de organismos públicos y privados</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>El gobierno debe tomar acción para disminuir la desigualdad
</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>La empresa Pepsico invierte en nuevas oficinas en México.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>En mi institución, Telmex provee el servicio de internet.</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Días festivos</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>El 5 de mayo es el Aniversario de la batalla de Puebla</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>Todos los años celebro el dia de muertos con mi familia
</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>El 5 de febrero es Día de la Constitución Mexicana.</string>
					<key>completado</key>
					<true/>
					<key>Respuesta</key>
					<false/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Títulos de publicaciones</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>Gracias a “El análisis económico del derecho” puede realizar una investigación más profunda</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>El artículo “Inteligencia artificial en la gestión financiera empresarial” fue publicado en el 2011</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
				<dict>
					<key>Problema</key>
					<string>Gracias a “El análisis económico del derecho” puede realizar una investigación más profunda</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Publicaciones periódicas</key>
	<dict>
		<key>Avanzado</key>
		<dict/>
		<key>Basico</key>
		<dict>
			<key>tapExercise</key>
			<array>
				<dict>
					<key>indicesCorrectos</key>
					<array>
						<integer>7</integer>
					</array>
					<key>ejercicio</key>
					<string>Da tap aquí. Este es un ejemplo de ejercicio.</string>
				</dict>
			</array>
			<key>verdaderoFalso</key>
			<array>
				<dict>
					<key>Problema</key>
					<string>The New york times ha publicado noticias relevantes los últimos 10 años.
</string>
					<key>completado</key>
					<false/>
					<key>Respuesta</key>
					<false/>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
