<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mayúsculas</key>
	<dict>
		<key>Abreviaturas, siglas y acrónimos</key>
		<dict>
			<key>Imagen</key>
			<string>ONU</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Se escriben enteramente en mayúscula las siglas y algunos acrónimos: ISBN, OTI, ONG. Cuando los acrónimos son nombres propios y tienen más de cuatro letras, solo se escribe en mayúscula la inicial.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>ONU</string>
					<key>Justificación</key>
					<string>Las siglas que corresponden a la Organización de las Naciones Unidas.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Unesco</string>
					<key>Justificación</key>
					<string>Acrónimo de más de cuatro letras por lo que solo se escribe la primera en mayúscula.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>radar, láser</string>
					<key>Justificación</key>
					<string>Acrónimo que el uso ha convertido en sustantivo común</string>
				</dict>
			</array>
		</dict>
		<key>Días festivos</key>
		<dict>
			<key>Imagen</key>
			<string>ofrenda</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Los nombres de festividades religiosas o civiles se escriben con mayúscula.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>Navidad</string>
					<key>Justificación</key>
					<string>Festividad religiosa o civil debe llevar mayúscula.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Día de la Bandera</string>
					<key>Justificación</key>
					<string>Festividad religiosa o civil debe llevar mayúscula.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Año Nuevo</string>
					<key>Justificación</key>
					<string>Festividad religiosa o civil debe llevar mayúscula.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Día de la Virgen</string>
					<key>Justificación</key>
					<string>Advocaciones a la Virgen o festividades que a ella se dedican.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Virgen de Guadalupe</string>
					<key>Justificación</key>
					<string>Advocaciones a la Virgen o festividades que a ella se dedican.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Feria de Abril</string>
					<key>Justificación</key>
					<string>Festividad religiosa o civil debe llevar mayúscula.</string>
				</dict>
			</array>
		</dict>
		<key>Fórmulas de tratamiento</key>
		<dict>
			<key>Imagen</key>
			<string>papa</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Las fórmulas de tratamiento se escriben únicamente en mayúscula cuando se encuentran en una abrevación, caso contrario se escriben minúscula. Mayúscula únicamente cuando la fórmula de tratamiento funcione como nombre propio, por ejemplo, el Papa visitó México.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>el Rey Don Juan Carlos</string>
					<key>Justificación</key>
					<string>Tratamiento don se escribe con mayúsculas por respeto a la familia reinante.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>la Infanta Doña Cristina</string>
					<key>Justificación</key>
					<string>Tratamiento don se escribe con mayúsculas por respeto a la familia reinante.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>El Papa visitará la India en su próximo viaje</string>
					<key>Justificación</key>
					<string>Se escribre con mayúscula cuando títulos o cargos aparecen sin el nombre concreto de la persona; no es obligatorio.</string>
				</dict>
			</array>
		</dict>
		<key>Marcas</key>
		<dict>
			<key>Imagen</key>
			<string>nikeLogo</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Las marcas comerciales son nombres propios, de forma que, utilizados específicamente para referirse a un producto de la marca, han de escribirse con mayúscula.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>Nike</string>
					<key>Justificación</key>
					<string>Los nombres de las marcas son nombres propios.</string>
				</dict>
			</array>
		</dict>
		<key>Nombres científicos</key>
		<dict>
			<key>Imagen</key>
			<string>leon</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>La primera palabra del nombre latino de las especies vegetales y animales: Pimpinella anisum, Panthera leo (los nombres científicos latinos deben escribirse, además, en cursiva). Se escriben también con mayúscula los nombres de los grupos taxonómicos zoológicos y botánicos superiores al género, cuando se usan en aposición: orden Roedores, familia Leguminosas; pero estos mismos términos se escriben con minúscula cuando se usan como adjetivos o como nombres comunes</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>Phantera leo</string>
					<key>Justificación</key>
					<string>La primera palabra de los nombres latinos de animes debe escribirse con mayúscula.</string>
				</dict>
			</array>
		</dict>
		<key>Nombres de disciplinas científicas y materias escolares</key>
		<dict>
			<key>Imagen</key>
			<string>materias</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Los sustantivos y adjetivos que forman el nombre de disciplinas científicas, cuando nos referimos a ellas como materias de estudio, y especialmente en contextos académicos (nombres de asignaturas, cátedras, facultades, etc.) o curriculares</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>El profesor de Cálculo Numérico es extraordinario</string>
					<key>Justificación</key>
					<string>En contexto científico o como materia de estudio se escribe con mayúscula.</string>
				</dict>
			</array>
		</dict>
		<key>Nombres de organismos públicos y privados</key>
		<dict>
			<key>Imagen</key>
			<string>segob</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Se escriben con mayúscula los sustantivos y adjetivos que componen el nombre de entidades, organismos, departamentos o divisiones administrativas, edificios, monumentos, establecimientos públicos, partidos políticos, etc.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>el Ministerio de Hacienda</string>
					<key>Justificación</key>
					<string>Nombre de entidades, organismos, departamentos o divisiones administrativas, edificios, monumentos, establecimientos públicos, partidos políticos, etc.</string>
				</dict>
			</array>
		</dict>
		<key>Nombres propios</key>
		<dict>
			<key>completado</key>
			<false/>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>Me llamo Moisés</string>
					<key>Justificación</key>
					<string>Es un nombre propio.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Mi amiga Karla es muy atenta.</string>
					<key>Justificación</key>
					<string>Es un nombre propio.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Leo Messi es considerado por muchos el mejor jugador de la historia.</string>
					<key>Justificación</key>
					<string>Es un nombre propio.</string>
				</dict>
			</array>
			<key>Imagen</key>
			<string>barack</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string> Los nombes propios llevan mayúscula para diferenciarlos de los comunes “son sustantivos o grupos nominales creados específicamente para designar y referirse a seres únicos, ya sean animados o inanimados: personas, animales, lugares geográficos, instituciones, obras de creación, acontecimientos, etc.” (RAE, 2010)</string>
			</dict>
		</dict>
		<key>Publicaciones periódicas</key>
		<dict>
			<key>Imagen</key>
			<string>nyTimes</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string> Se esriben con mayúscula los sustantivos y adjetivos que forman parte del nombre de publicaciones periódicas o de colecciones: La Vanguardia, Nueva Revista de Filología Hispánica, Biblioteca de Autores Españoles.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string> Biblioteca de Autores Españoles.</string>
					<key>Justificación</key>
					<string>Sustantivo y adjetivos del nombre de publicaciones periódicas se acentúan.</string>
				</dict>
			</array>
		</dict>
		<key>Símbolos químicos</key>
		<dict>
			<key>Imagen</key>
			<string>elementos</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Los de los elementos químicos se escriben con una sola letra mayúscula: C, O; o, si están constituidos por dos letras, con una combinación de mayúscula y minúscula: Ag, Fe.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>Ag, Au, K, C</string>
					<key>Justificación</key>
					<string>Llevan mayúscula los símbolos químicos.</string>
				</dict>
			</array>
		</dict>
		<key>Títulos de publicaciones</key>
		<dict>
			<key>Imagen</key>
			<string>libros</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>La primera palabra del título de cualquier obra de creación (libros, películas, cuadros, esculturas, piezas musicales, programas de radio o televisión, etc.); el resto de las palabras que lo componen, salvo que se trate de nombres propios, deben escribirse con minúscula.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>El laberinto de la soledad</string>
					<key>Justificación</key>
					<string>Solo se pone mayúscula en la primer palabra, aunque sea un preposición.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Por quién doblan las campanas</string>
					<key>Justificación</key>
					<string>Solo se pone mayúscula en la primer palabra, aunque sea un preposición.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Cien años de soledad</string>
					<key>Justificación</key>
					<string>Solo se pone mayúscula en la primer palabra.</string>
				</dict>
			</array>
		</dict>
		<key>Unidades de medición</key>
		<dict>
			<key>Imagen</key>
			<string>newton</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Las unidades de medida se escriben normalmente con minúscula (g, dm, ha), salvo los de aquellas unidades que tienen su origen en nombres propios de persona, que se escriben con mayúscula: N por newton (de Isaac Newton), W por vatio (de Jacobo Watt)</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>Newton, Ohm</string>
					<key>Justificación</key>
					<string>Unidades que tienen su origen de un nombre propio.</string>
				</dict>
			</array>
		</dict>
		<key>Usos diacríticos</key>
		<dict>
			<key>Imagen</key>
			<string>universidad</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>La mayúscula diacrítica sirve para diferenciar un significado de nombre propio de otro de nombre común, permite distinguir entre aceptaciones distintas de una palabra.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>La Iglesia tiene seguidores en todo el mundo.</string>
					<key>Justificación</key>
					<string>Se refiere a la institución.</string>
				</dict>
				<dict>
					<key>Ejemplo</key>
					<string>Esta iglesia es demasiado vieja.</string>
					<key>Justificación</key>
					<string>Se refiere al edificio.</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Minúsculas</key>
	<dict>
		<key>Nombres comunes</key>
		<dict>
			<key>Imagen</key>
			<string>lapiz</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Los nombres propios llevan mayúsculas</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>lápiz, computadora</string>
					<key>Justificación</key>
					<string>Sustantivos comunes que no llevan mayúscula salvo que inicien la oración.</string>
				</dict>
			</array>
		</dict>
		<key>Gentilicios</key>
		<dict>
			<key>Imagen</key>
			<string>mex</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Se escriben en minúscula los nombres de tribus o pueblos y de lenguas, así como los gentilicios: el pueblo inca, los mayas, el español, los ingleses.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Ejemplo</key>
					<string>Los mexicanos son personas muy alegres.</string>
					<key>Justificación</key>
					<string>Se expresa el origen geográfico o racial y no lleva mayúscula.</string>
				</dict>
			</array>
		</dict>
		<key>Fechas y estaciones</key>
		<dict>
			<key>Imagen</key>
			<string>invierno</string>
			<key>Teoría</key>
			<dict>
				<key>Imagen</key>
				<string>imagen</string>
				<key>Explicación</key>
				<string>Salvo que la mayúscula venga exigida por la puntuación (a comienzo de texto o después de punto), los nombres de los días de la semana, de los meses y de las estaciones del año se escriben en español con minúscula inicial.</string>
			</dict>
			<key>Ejemplos</key>
			<array>
				<dict>
					<key>Justificación</key>
					<string>Minúscula porque es día de la semana </string>
					<key>Ejemplo</key>
					<string>Hoy es lunes</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
