<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Pregunta</key>
			<string>Mi nombre es Luis y soy estudiante del ITESM.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Nombres propios</string>
					<true/>
				</array>
				<array>
					<string>Nombres Comunes</string>
					<false/>
				</array>
				<array>
					<string>Fórmulas de tratamiento</string>
					<false/>
				</array>
				<array>
					<string>Títulos de publicaciones</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>En el cuento “Pedro y el lobo” Pedro dice la verdad, pero al final ya nadie le cree después de tantas mentiras.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Títulos de publicaciones</string>
					<true/>
				</array>
				<array>
					<string>Usos diacríticos</string>
					<false/>
				</array>
				<array>
					<string>Gentilicios</string>
					<false/>
				</array>
				<array>
					<string>Nombres propios</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>La ONU estableció que la enfermedad COVID-19 es una pandemia.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Abreviaturas, siglas y acrónimos</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Las ventas de Nike subieron un cincuenta por ciento desde que inició la copa.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Marcas</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Los mexicanos y argentinos comparten su pasión por el fútbol, es interesante pensar en el partido en el que se enfrentarán.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Gentilicios</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta Párrafos</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Pregunta</key>
			<string>El libro &quot;La Divina Comedia&quot; fue escrito por Dante Alighieri.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>&quot;La divina comedia&quot;</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Las cuatro Estaciones fue compuesta por Vivaldi.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>¿Leíste el Quijote?</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Últimas tardes con Teresa</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>La semana pasada leí &quot;Cien años De Soledad&quot;.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Pregunta</key>
			<string>EL UNIVERSAL, LA NACIÓN, TIEMPO</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Cabeceras de diarios y revistas</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>lápiz, computadora, playera, televisión</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<false/>
				</array>
				<array>
					<string>Nombres comunes</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Si Dios me manda alguna señal, sin dudar lo haré.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Nombres de deidades</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Señor De Ávalos</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<false/>
				</array>
				<array>
					<string>Se omite nombre de pila</string>
					<true/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Me gustan mucho las pínturas de El Greco.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>de el Greco</string>
					<false/>
				</array>
				<array>
					<string>del Greco</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta Sorpresa la cual es muy larga y que por tanto no debería caber en una sola línea del label.</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<true/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta Sorpresa 2</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta Sorpresa 3</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta Sorpresa 4</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>Ejemplo de Pregunta Sorpresa 5</string>
			<key>Respuestas</key>
			<array>
				<array>
					<string>Respuesta 1</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 2</string>
					<false/>
				</array>
				<array>
					<string>Respuesta 3</string>
					<true/>
				</array>
				<array>
					<string>Respuesta 4</string>
					<false/>
				</array>
			</array>
		</dict>
	</array>
</array>
</plist>
